*, html, body {
    margin: 0;
    padding: 0;
}

header {
    padding: 2em 4em;
    margin: 0 auto;
    text-align: center;
    background-color: #230e80;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

input {
    padding: 1em 2em;
    margin: 2em auto;
    font-weight: 400;
    color: rgb(48, 27, 27)
}